@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=Space+Mono:wght@400;700&display=swap');

:root {
  --bg:         #c76ace;  /*#f7aefc;*/
  --surface:    #eb92f1; /*for mood bar and bpm bar number (rectangle obj)*/
  --surface2:   #000000;
  --border:     rgba(130, 106, 106, 0.307);
  --accent:     #ffffff;
  --accent2:    #FF8C32;
  --text:       #ffffff;
  --text2:      #000000; /*for enter your heart... "bpm" "calm&easy relax"*/
  --text3:      #000000f3; /*FOR powered by spotify and numbers on bpm bar*/
  --font-body:  'DM Sans', sans-serif;
  --font-mono:  'Space Mono', monospace;
  --radius:     14px;
  --radius-sm:  8px;
}

*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root {
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

button { cursor: pointer; border: none; background: none; font-family: inherit; }
input  { font-family: inherit; }
